@import "./_variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  background-color: $new-black;
  color: $white-100;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-lato), sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

input,
textarea {
  font-family: inherit;
}
